/* Global styles */

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: lightgrey;
  margin: 20px;
}

/* Heading Styling */
h1 {
  color: blueviolet;
  text-align: center;
  text-transform: uppercase;
}

/* Text Properties section */
.text-section p {
  color: blue;
  font-size: 20px;
  line-height: 1.2;
  text-align: justify;
  font-weight: bolder;
  font-style: italic;
}

.box-model {
  width: 300px;
  height: 100px;
  /* Vertical margin and center alignment using auto for horizontal margin */
  margin: 20px auto;
  padding: 20px;
  /* 2px width Solid Green border */
  border: 2px solid green;
  background-color: cyan;
}

/* Background and border radius */
.styled-box {
  width: 250px;
  padding: 15px;
  margin: 20px auto;
  background-color: blanchedalmond;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 8s ease;
  box-shadow: 10px 5px 5px green;
}

/* hover pseudo-class can be used to change the style of an element on mouse hover state */
.hover-button:hover {
  background-color: black;
  color: white;
}

#tree {
  width: 400px;
  height: 250px;
  background-color: blue;
  margin: 20px auto;
  background-image: url("tree.jpg");
  background-size: cover; /* image will cover entire container */
  background-repeat: no-repeat;
}

input:invalid {
  border-style: solid;
  border-color: red;
  border-width: 2px;
  background-color: orange;
}

input:valid {
  border-style: solid;
  border-color: green;
  border-width: 2px;
  background-color: aqua;
}

a:link {
  color: cadetblue;
}

a:visited {
  color: brown;
}

a:hover {
  color: orange;
}

a:active {
  color: darkgreen;
}
