/* Global Styles */
h1 {
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  line-height: 1.5;
  text-align: justify;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: lightgrey;
}

.section-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.box-model {
  width: 300px;
  height: 50px;
  margin: 20px auto;
  padding: 20px;
  border: 2px dashed green;
  background-color: cyan;
}

.styled-box {
  width: 250px;
  padding: 15px;
  margin: 20px auto;
  background-color: blanchedalmond;
  border: 2px inset purple;
  border-radius: 15px;
  transition: background-color 8s ease;
  box-shadow: 5px 5px 5px black;
}

#oak-tree {
  width: 400px;
  height: 250px;
  margin: 0 auto;
  background-color: blue;
  border-radius: 10px;
  background-image: url("oak-tree.webp");
  background-size: cover;
  /* background-repeat: no-repeat; */
}
